*{
  border: none;
  padding: none;
  box-sizing: border-box;
}

@font-face {
  font-family: rimouski;
  src: url(components/assets/rimouski\ sb.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(components/assets/Poppins-Bold.ttf);
}